<div class="col-lg-9">
  <div class="card">
    <div class="card-header">
      <span style="display: inline-block;" class="ml-auto">
        <i class="fa fa-align-justify"></i> Message list
      </span>

      <span (click)="newMessage()"  style="display: inline-block;" class="float-right ml-auto">
        <i class="fa fa-plus"></i> Create Message
      </span>

    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Sender</th>
            <th>Title</th>
            <th>Message</th>
            <th>Date</th>
            <th>Action</th>
            <!-- <th>Status</th> -->
          </tr>
        </thead>
        <tbody>
          <tr class="unread">
            <td>Yiorgos Avraamu</td>
            <td>Message title</td>
            <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque tempore provident nemo ...</td>
            <td>2012/01/01</td>
            <td>
              <!-- <span class="badge badge-success">Active</span> -->
              <div>
                <button type="button" class="btn btn-primary btn-sm mb-1 btn-block">Open</button>
                <button type="button" class="btn btn-danger btn-sm  mb-1 btn-block">Delete</button>
              </div>


            </td>
          </tr>
          <tr class="unread">
            <td>Avram Tarasios</td>
            <td>Message title</td>
            <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque tempore provident nemo ...</td>
            <td>2012/01/01</td>
            <td>
              <!-- <span class="badge badge-success">Active</span> -->
              <button type="button" class="btn btn-primary btn-sm mb-1 btn-block">Open</button>
                <button type="button" class="btn btn-danger btn-sm  mb-1 btn-block">Delete</button>
            </td>
          </tr>
          <tr>
            <td>Quintin Ed</td>
            <td>Message title</td>
            <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque tempore provident nemo ...</td>
            <td>2012/01/01</td>
            <td>
              <!-- <span class="badge badge-success">Active</span> -->
              <button type="button" class="btn btn-primary btn-sm mb-1 btn-block">Open</button>
                <button type="button" class="btn btn-danger btn-sm  mb-1 btn-block">Delete</button>
            </td>
          </tr>
          <tr>
            <td>Enéas Kwadwo</td>
            <td>Message title</td>
            <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque tempore provident nemo ...</td>
            <td>2012/01/01</td>
            <td>
              <!-- <span class="badge badge-success">Active</span> -->
              <button type="button" class="btn btn-primary btn-sm mb-1 btn-block">Open</button>
                <button type="button" class="btn btn-danger btn-sm  mb-1 btn-block">Delete</button>
            </td>
          </tr>
          <tr>
            <td>Agapetus Tadeáš</td>
            <td>Message title</td>
            <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque tempore provident nemo ...</td>
            <td>2012/01/01</td>
            <td>
              <!-- <span class="badge badge-success">Active</span> -->
              <button type="button" class="btn btn-primary btn-sm mb-1 btn-block">Open</button>
                <button type="button" class="btn btn-danger btn-sm  mb-1 btn-block">Delete</button>
            </td>
          </tr>
          <tr>
            <td>Enéas Kwadwo</td>
            <td>Message title</td>
            <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque tempore provident nemo ...</td>
            <td>2012/01/01</td>
            <td>
              <!-- <span class="badge badge-success">Active</span> -->
              <button type="button" class="btn btn-primary btn-sm mb-1 btn-block">Open</button>
                <button type="button" class="btn btn-danger btn-sm  mb-1 btn-block">Delete</button>
            </td>
          </tr>
          <tr>
            <td>Agapetus Tadeáš</td>
            <td>Message title</td>
            <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque tempore provident nemo ...</td>
            <td>2012/01/01</td>
            <td>
              <!-- <span class="badge badge-success">Active</span> -->
              <button type="button" class="btn btn-primary btn-sm mb-1 btn-block">Open</button>
                <button type="button" class="btn btn-danger btn-sm  mb-1 btn-block">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </div>
  </div>
</div>
